<h1 mat-dialog-title>Add a coin</h1>
<mat-form-field appearance="fill">
  <mat-label>Choose a coin</mat-label>
  <mat-select [(ngModel)]="selectedCoinId">
    <mat-option *ngFor="let coin of coins" [value]="coin.asset_id">
      {{ coin.asset_id }}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-dialog-actions class="actions">
  <button (click)="cancel()" mat-raised-button>Cancel</button>
  <button [mat-dialog-close]="selectedCoinId" mat-raised-button color="primary">
    Add coin
  </button>
</mat-dialog-actions>
