.m-10 {
  margin: 10px;
}

.flex-justify-between {
  display: flex;
  justify-content: space-between;
}

.mb-auto {
  margin-bottom: auto;
}

.ml-20 {
  margin-left: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.flex {
  display: flex;
}

.w-100 {
  width: 100%;
}
