.page {
  margin: 10px;
}

.tab-group {
  width: calc(100vw - 300px - 2 * 10px - 20px - 2 * 2px);
}

.flex-justify-between {
  display: flex;
  justify-content: space-between;
}

.mb-auto {
  margin-bottom: auto;
}

.ml-20 {
  margin-left: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.flex {
  display: flex;
}

.w-300px {
  width: 300px;
}
