<div class="page">
  <div class="flex-justify-between">
    <h1>Crypto Time</h1>
    <div class="flex">
      <h1>{{ loggedInAs }}</h1>
      <button
        class="mb-auto ml-20"
        (click)="onLogout()"
        mat-raised-button
        color="primary"
      >
        Logout
      </button>
    </div>
  </div>

  <div class="flex">
    <mat-tab-group
      class="tab-group"
      [(selectedIndex)]="selectedTabIndex"
    >
      <mat-tab *ngFor="let coinId of coinIds" [label]="coinId">
        <app-coin-details
          [selectedCoinId]="coinId"
          (removeCoin)="removeCoin($event)"
        ></app-coin-details>
      </mat-tab>
      <mat-tab disabled>
        <ng-template mat-tab-label>
          <button mat-icon-button (click)="addCoin()">
            <mat-icon>add</mat-icon>
          </button>
        </ng-template>
      </mat-tab>
      <button mat-raised-button color="primary">Login</button>
    </mat-tab-group>
    <app-coins-real-time
      class="w-300px"
      [coinIds]="coinIds"
    ></app-coins-real-time>
  </div>
</div>
