.div-300-500 {
  width: 300px;
  height: 500px;
  border: solid 4px #8960cf;
}

.ml-20 {
  margin-left: 20px;
}

.green {
  color: rgb(11, 189, 11);
  font-weight: bold;
}

.red {
  color: red;
  font-weight: bold;
}

th {
  font-weight: bold;
  font-size: medium;
}

td {
  text-align: center;
}

.text-center {
  text-align: center;
}

.w-100 {
  width: 100%;
}

.w-30 {
  width: 30%;
}

.w-35 {
  width: 35%;
}
