<div class="table">
  <div class="table-header">
    <h2 class="text-center header-title">BINANCE</h2>
    <div class="text-center header-subtitle">SPOT USDT</div>
  </div>

  <table mat-table [dataSource]="tableData" class="w-100">
    <ng-container matColumnDef="coinId">
      <th mat-header-cell *matHeaderCellDef class="text-center w-30">Coin</th>
      <td mat-cell *matCellDef="let coin" class="text-center w-30">
        {{ coin.coinId }}
      </td>
    </ng-container>
    <ng-container matColumnDef="high">
      <th mat-header-cell *matHeaderCellDef class="text-center w-35">High</th>
      <td mat-cell *matCellDef="let coin" class="text-center high w-35">
        {{ coin.high }}
      </td>
    </ng-container>
    <ng-container matColumnDef="low">
      <th mat-header-cell *matHeaderCellDef class="text-center w-35">Low</th>
      <td mat-cell *matCellDef="let coin" class="text-center low w-35">
        {{ coin.low }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: displayedColumns"></tr>
  </table>
</div>
