<div class="div-300-500 ml-20">
  <table mat-table [dataSource]="tableData" class="w-100">
    <ng-container matColumnDef="coinId">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Coin </th>
      <td mat-cell *matCellDef="let coin"> {{coin.coinId}} </td>
    </ng-container>
    <ng-container matColumnDef="high">
      <th mat-header-cell *matHeaderCellDef class="text-center"> High </th>
      <td mat-cell *matCellDef="let coin" class="green"> {{coin.high}} </td>
    </ng-container>
    <ng-container matColumnDef="low">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Low </th>
      <td mat-cell *matCellDef="let coin" class="red"> {{coin.low}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: displayedColumns"></tr>
  </table>
</div>
