.flex-justify-between {
  display: flex;
  justify-content: space-between;
}

.mb-auto {
  margin-bottom: auto;
}

.mr-20 {
  margin-right: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.chart-parent {
  display: grid;
}

.max-w-content {
  max-width: fit-content;
}
